body{
    text-align:justify;
    display: flex;  
    margin: 0; 
    height: 100vh; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  
    background-color: rgb(186, 221, 252);
}
h1{
    text-align: left;     
    top: auto;
    width: 40%;
    font-weight: bolder;
}
.container {
    background-color: #05cbcf;
    width: 500px;
    margin: 50px auto;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-top: 10px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
 