body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: rgb(95, 220, 224);
    text-align: center;
}
h2{
    color: rgb(0, 255, 221);
    text-align: center;
}
p{
    color: aquamarine;
    text-align:center;
}